.form-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 10;
}

.manage-form {
  display: none;
}

.manage-submit {
  margin: 10px auto 0 auto;
}

.project-form-container,
.blog-form-container {
  margin: 0 auto 20px auto;
}

.manage-textareafield {
  height: 200px !important;
}
.bottom-form {
  margin-bottom: 10px;
}
