.jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
}
.jumbotron-header {
  margin: -35px 0px 10px 0px;
}
.jumbotron-title {
  margin: -15px 0px 20px 0px;
  font-size: 30px;
}
.jumbotron-sub-title {
  font-size: 18px;
}
.jumbotron-p {
  margin-bottom: 0px;
}
.read-more {
  margin-top: -60px;
}
.jumbotron-sub-header {
  font-size: 20px;
}
.jumbotron-link {
  border-color: var(--lightest);
}
.pagination {
  margin: 0px 0 10px 0;
  justify-content: center;
}
.blog-container,
.project-container,
.article-container {
  display: none;
}

@media(max-width: 575px) {
  .jumbotron-header {
    margin-top: 0px;
  }
}
