<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-header fg-lightest text-center">Articles</h1>
  <ul class="pagination">
    {% for article in articles %}
    <li class="page-item jumbotron-item article-item">
      <a class="page-link jumbotron-link article-link bg-darker
                fg-lighter hover-bg-lighter hover-fg-darker
                tran-fast"
                id="article{{ article.id }}">{{ loop.index }}</a>
    </li>
    {% endfor %}
  </ul>
  {% for article in articles %}
  <div class="article-container" id="article-container-{{ article.id }}">
    <h3 class="jumbotron-sub-header fg-lighter text-center">
      {{ article.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-light p-title">{{ article.title }}</p>
    <p class="jumbotron-p fg-light">{{ article.body|string|truncate(280) }}</p>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ url_for('articlepost', post=article.id) }}">Read more</a>
  </div>
  {% endfor %}
</div>
