<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label(for="inputUsername", class_="fg-darker") }}<br>
    {{ form.username(size=32, class_="form-control fg-lightest bg-darkest", id="inputUsername", placeholder="Username") }}
  </div>
  <div class="form-group">
    {{ form.password.label(for="inputPassword", class_="fg-darker") }}<br>
    {{ form.password(size=32, class_="form-control fg-lightest bg-darkest", id="inputPassword", placeholder="Password") }}
  </div>
  {{ form.submit(class_="btn center bg-darkest fg-lightest hover-bg-lightest hover-fg-darkest tran-fast") }}
</form>
