{% if pagetype == "top" %}
<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-header fg-lightest text-center">Projects</h1>
  <ul class="pagination">
    {% for project in projects %}
    <li class="page-item jumbotron-item project-item">
      <a class="page-link jumbotron-link project-link bg-darker
                fg-lighter hover-bg-lighter hover-fg-darker
                tran-fast"
                id="project{{ project.id }}">{{ loop.index }}</a>
    </li>
    {% endfor %}
  </ul>
  {% for project in projects %}
  <div class="project-container" id="project-container-{{ project.id }}">
    <h3 class="jumbotron-sub-header fg-lighter text-center">
      {{ project.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-lighter p-title text-center">{{ project.title }}</p>
    <p class="jumbotron-p fg-light">
      {{ project.body|markstrip|truncate(280) }}
      <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ url_for('projectpost', post=project.id) }}">Read more</a>
    </p>
  </div>
  {% endfor %}
</div>

{% elif pagetype == "single" %}
<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-title fg-lightest text-center">{{ project.title }}</h1>
  <div class="single-project-container" id="project-container-{{ project.id }}">
    <h3 class="jumbotron-sub-title fg-lighter text-center">
      {{ project.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-lightest p-title text-center">
      <a href="{{ project.repo }}" target="_blank" style="margin-right: 5px;">
        Repository
      </a>
      <a href="{{ project.url }}" target="_blank" style="margin-left: 5px">
        Link
      </a>
    </p>
    <div class="markup-container">{{ project.body|safe }}</div>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ back|string }}">Back to projects...</a>
  </div>
</div>

{% elif pagetype == "all" %}
{% for project in projects %}
<div class="jumbotron bg-darker tilt-border-darkest" id="project-container-{{ project.id }}">
  <h1 class="main-header jumbotron-title fg-lightest text-center">{{ project.title }}</h1>
  <div class="single-project-container">
    <h3 class="jumbotron-sub-title fg-lighter text-center">
      {{ project.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-light">{{ project.body|markstrip|truncate(280) }}</p>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ url_for('projectpost', post=project.id) }}">Read more</a>
  </div>
</div>
{% endfor %}
{% endif %}
