{% if pagetype == "top" %}
<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-header fg-lightest text-center">Reviews</h1>
  <ul class="pagination">
    {% for review in reviews %}
    <li class="page-item jumbotron-item review-item">
      <a class="page-link jumbotron-link review-link bg-darker
                fg-lighter hover-bg-lighter hover-fg-darker
                tran-fast"
                id="review{{ review.id }}">{{ loop.index }}</a>
    </li>
    {% endfor %}
  </ul>
  {% for review in reviews %}
  <div class="review-container" id="review-container-{{ review.id }}">
    <h3 class="jumbotron-sub-header fg-lighter text-center">
      {{ review.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-lighter p-title text-center">{{ review.title }}</p>
    <p class="jumbotron-p fg-light">{{ review.body|string|truncate(280) }}</p>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ url_for('reviewpost', post=review.id) }}">Read more</a>
  </div>
  {% endfor %}
</div>

{% elif pagetype == "single" %}
<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-title fg-lightest text-center">{{ review.title }}</h1>
  <div class="single-review-container" id="review-container-{{ review.id }}">
    <h3 class="jumbotron-sub-title fg-lighter text-center">
      {{ review.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-light">{{ review.body|string }}</p>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ back|string }}">Back to reviews...</a>
  </div>
</div>

{% elif pagetype == "all" %}
{% for review in reviews %}
<div class="jumbotron bg-darker tilt-border-darkest">
  <h1 class="main-header jumbotron-title fg-lightest text-center">{{ review.title }}</h1>
  <div class="single-review-container" id="review-container-{{ review.id }}">
    <h3 class="jumbotron-sub-title fg-lighter text-center">
      {{ review.timestamp|datetime('full') }}
    </h3>
    <p class="jumbotron-p fg-light">{{ review.body|string|truncate(280) }}</p>
    <a class="read-more fg-lightest hover-fg-light tran-fast"
              href="{{ url_for('reviewpost', post=review.id) }}">Read more</a>
  </div>
</div>
{% endfor %}
{% endif %}
