<div class="form-container bottom-form review-form-container bg-darker tilt-border-darkest">
  <h1 class="main-header fg-lightest text-center">Reviews</h1>
  <ul class="pagination">
    <li class="page-item jumbotron-item">
      <a class="page-link jumbotron-link blog-link bg-darker
                fg-lighter hover-bg-lighter hover-fg-darker
                tran-fast create-button review-button" id="createReviewButton">Create</a>
    </li>
    <li class="page-item jumbotron-item">
      <a class="page-link jumbotron-link blog-link bg-darker
                fg-lighter hover-bg-lighter hover-fg-darker
                tran-fast edit-button review-button" id="editReviewButton">Edit</a>
    </li>
  </ul>
  <p>{{ user }}</p>
  <form class="manage-form create-form review-form" action="{{ url_for('createreview') }}" method="post" id="createReviewForm">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label(for="inputTitle", class_="fg-lighter") }}<br>
      {{ form.title(class_="form-control bg-lighter fg-darkest", id="inputTitle", placeholder="Title") }}
    </div>
    <div class="form-group">
      {{ form.body.label(for="inputBody", class_="fg-lighter") }}<br>
      {{ form.body(class_="form-control bg-lighter fg-darkest manage-textareafield", id="inputBody", placeholder="Body") }}
    </div>
    <div class="form-group">
      {{ form.url.label(for="inputUrl", class_="fg-lighter") }}<br>
      {{ form.url(class_="form-control bg-lighter fg-darkest", id="inputUrl", placeholder="Review URL") }}
    </div>
    {{ form.submit(class_="btn center hover-bg-darkest hover-fg-lightest bg-lightest fg-darkest manage-submit tran-fast") }}
  </form>
  <form class="manage-form edit-form review-form" action="{{ url_for('editreview') }}" method="post" id="editReviewForm">
    <div class="form-group">
      <label for="selectReview" class="fg-lighter">Select Review</label>
      <select class="form-control bg-lighter fg-darkest" name="id" id="selectReview">
        {% for review in reviews %}
        <option value={{ review.id }}>{{ review.timestamp|datetime('full') }}</option>
        {% endfor %}
      </select>
    </div>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label(for="newInputTitle", class_="fg-lighter") }}<br>
      {{ form.title(class_="form-control bg-lighter fg-darkest edit-field review-edit", id="newInputTitle", placeholder="Title") }}
    </div>
    <div class="form-group">
      {{ form.body.label(for="newInputBody", class_="fg-lighter") }}<br>
      {{ form.body(class_="form-control bg-lighter fg-darkest edit-field review-edit manage-textareafield", id="newInputBody", placeholder="Body") }}
    </div>
    <div class="form-group">
      {{ form.url.label(for="newInputUrl", class_="fg-lighter") }}<br>
      {{ form.url(class_="form-control bg-lighter fg-darkest edit-field review-edit", id="newInputUrl", placeholder="Review URL") }}
    </div>
    {{ form.submit(class_="btn center hover-bg-darkest hover-fg-lightest bg-lightest fg-darkest manage-submit tran-fast") }}
  </form>
</div>
