{% extends 'templates/bootstrap.html' %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon/favicon.ico') }}"/>
{% endblock head %}

{% block title %}
{{ super() }}
{% if title %}
<title>{{ title }} - Frankie Baffa</title>
{% else %}
<title>Frankie Baffa</title>
{% endif %}
{% endblock title %}

{% block meta %}
{{ super() }}
{% endblock meta %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
{{ style('colorscheme.css') }}
{{ style('visualstyle.css') }}
{{ style('fontstyle.css') }}
{{ style('navstyle.css') }}
{% endblock style %}

{% block nav %}
{{ super() }}
{% include 'sections/navigation.html' %}
{% endblock nav %}

{% block body %}
{{ super() }}
{% endblock body %}
<div class="container-fluid">
  {% block content %}
  {{ super() }}
  {% endblock content %}
</div>
{% block foot %}
{{ super() }}
{% include 'sections/footer.html' %}
{% endblock foot %}

{% block script %}
{{ super() }}

{% endblock script %}

