{% extends 'templates/base.html' %}

{% block style %}
{{ super() }}
{{ style('indexstyle.css') }}
{{ style('jumbotronstyle.css') }}
{% endblock style %}

{% block content %}
<div class="row">
  {% include 'sections/projectotron.html' %}
</div>
<div class="row">
  {% include 'sections/blogotron.html' %}
</div>
<div class="row">
  {% include 'sections/articlotron.html' %}
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock script %}
