{% extends 'templates/base.html' %}

{% block style %}
{{ super() }}
{{ style('formstyle.css') }}
{{ style('jumbotronstyle.css') }}
{% endblock style %}

{% block content %}
{% if projects != [] %}
<div class="row">
  <div class="col">
    {% include 'sections/projectform.html' %}
  </div>
</div>
{% endif %}
{% if blogs != [] %}
<div class="row">
  <div class="col">
    {% include 'sections/blogform.html' %}
  </div>
</div>
{% endif %}
{% if reviews != [] %}
<div class="row">
  <div class="col">
    {% include 'sections/reviewform.html' %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col">
    {% include 'sections/userlist.html' %}
  </div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
{{ script('managepagination.js') }}
{% include 'js/contentarray.html' %}
{{ script('editfill.js') }}
{% endblock script %}
