{% extends 'templates/base.html' %}

{% block style %}
{{ super() }}
{{ style('formstyle.css') }}
{{ style('jumbotronstyle.css') }}
{% endblock style %}

{% block content %}
<div class="row">
  <div class="col">
    {% include 'sections/projectform.html' %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% include 'sections/blogform.html' %}
  </div>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
{{ script('managepagination.js') }}
<script>
  var $projects = [];
  {% for project in projects %}
  var $project{{ project.id }} = [
    {{ project.id }},
    "{{ project.title }}",
    "{{ project.body }}",
    "{{ project.url }}",
    "{{ project.repo }}"
  ];
  $projects.push($project{{ project.id }});
  {% endfor %}

  var $blogs = [];
  {% for blog in blogs %}
  var $blog{{ blog.id }} = [
    {{ blog.id }},
    "{{ blog.title }}",
    "{{ blog.body }}",
    "{{ blog.url }}",
    "{{ blog.repo }}"
  ];
  $blogs.push($blog{{ blog.id }});
  {% endfor %}

  var $content = [$projects, $blogs];
</script>
{{ script('editfill.js') }}
{% endblock script %}
