{% extends 'templates/base.html' %}

{% block style %}
{{ super() }}
{{ style('indexstyle.css') }}
{{ style('jumbotronstyle.css') }}
{% endblock style %}

{% block content %}
  <div class="row">
    <div class="col">
      {% if pagetype == "all" %}
      <h1 class="main-header text-center">
        Reviews
      </h1>
      {% endif %}
    </div>
  </div>
  <div class="row">
    {% include 'sections/reviewotron.html' %}
  </div>
{% endblock content %}

{% block script %}
{{ super() }}
{% endblock script %}
